// Colors
$orange-color: #FD7515;
$white-color: #ffffff;
$black-color: #000000;
$gray-color: #D9D9D9;

//Font weight
$light-weight: 400;
$medium-weight: 500;
$semiBold-weight: 600;
$bold-weight: 700;
